workflows/delivery-status.json
{
  "name": "WA CRM - Delivery Status Updates",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "delivery-status",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "delivery-status"
    },
    {
      "parameters": {
        "jsCode": "// This workflow is an ALTERNATIVE to the built-in /api/webhook route.\n// Use this if you want N8N to handle all Meta webhook events instead of Next.js.\n// \n// The preferred approach is to use the Next.js /api/webhook route directly,\n// which handles both incoming messages and delivery status updates.\n//\n// If you use this workflow:\n// 1. Point your Meta App webhook to this N8N webhook URL instead\n// 2. Disable the GET verification in this workflow (Meta handles that via your Next.js route)\n\nconst body = $input.first().json.body;\n\nif (body.object !== 'whatsapp_business_account') {\n  return [{ json: { status: 'ignored' } }];\n}\n\nconst statusUpdates = [];\nconst incomingMessages = [];\n\nfor (const entry of body.entry || []) {\n  for (const change of entry.changes || []) {\n    const value = change.value;\n    \n    if (value.statuses) {\n      for (const status of value.statuses) {\n        statusUpdates.push({\n          wamid: status.id,\n          status: status.status,\n          timestamp: status.timestamp\n        });\n      }\n    }\n    \n    if (value.messages) {\n      for (const msg of value.messages) {\n        incomingMessages.push({\n          from: msg.from,\n          text: msg.text?.body || '[media]',\n          wamid: msg.id,\n          timestamp: msg.timestamp,\n          contact_name: value.contacts?.find(c => c.wa_id === msg.from)?.profile?.name || null\n        });\n      }\n    }\n  }\n}\n\nreturn [{ json: { statusUpdates, incomingMessages } }];"
      },
      "id": "parse-webhook",
      "name": "Parse Webhook Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"ok\"}"
      },
      "id": "respond",
      "name": "Respond to Meta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Parse Webhook Payload", "type": "main", "index": 0 }]]
    },
    "Parse Webhook Payload": {
      "main": [[{ "node": "Respond to Meta", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "whatsapp-crm" }]
}
