workflows/send-reply.json
{
  "name": "WA CRM - Send Reply",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-reply",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "send-reply"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/={{ $env.META_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.META_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "messaging_product": "whatsapp",
          "to": "={{ $json.body.phone.replace('+', '') }}",
          "type": "text",
          "text": {
            "body": "={{ $json.body.message }}"
          }
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "send-whatsapp-reply",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst wamid = response.messages?.[0]?.id;\nconst phone = $('Webhook Trigger').first().json.body.phone;\nconst contactId = $('Webhook Trigger').first().json.body.contact_id;\n\nif (wamid) {\n  // Update the message wamid in Supabase via REST\n  return [{ json: { success: true, wamid, phone, contact_id: contactId } }];\n}\n\nreturn [{ json: { success: false, error: 'No wamid returned', phone } }];"
      },
      "id": "process-response",
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "contact_id",
              "value": "=eq.{{ $json.contact_id }}"
            },
            {
              "name": "direction",
              "value": "=eq.outbound"
            },
            {
              "name": "wamid",
              "value": "=is.null"
            },
            {
              "name": "order",
              "value": "created_at.desc"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "method": "PATCH",
        "body": {
          "wamid": "={{ $json.wamid }}"
        },
        "options": {}
      },
      "id": "update-wamid",
      "name": "Update WAMID in Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Send WhatsApp Reply", "type": "main", "index": 0 }]]
    },
    "Send WhatsApp Reply": {
      "main": [[{ "node": "Process Response", "type": "main", "index": 0 }]]
    },
    "Process Response": {
      "main": [[{ "node": "Update WAMID in Supabase", "type": "main", "index": 0 }]]
    },
    "Update WAMID in Supabase": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "whatsapp-crm" }],
  "triggerCount": 1
}
