workflows/send-campaign.json
{
  "name": "WA CRM - Send Campaign",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-campaign",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "send-campaign"
    },
    {
      "parameters": {
        "jsCode": "const { campaign_name, template_name, template_language, contacts } = $input.first().json.body;\n\nif (!contacts || !Array.isArray(contacts)) {\n  throw new Error('No contacts provided');\n}\n\nconst items = contacts.map(contact => ({\n  json: {\n    campaign_name,\n    template_name,\n    template_language,\n    phone: contact.phone,\n    name: contact.name || '',\n    email: contact.email || ''\n  }\n}));\n\nreturn items;"
      },
      "id": "prepare-contacts",
      "name": "Prepare Contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/={{ $env.META_PHONE_NUMBER_ID }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.META_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "messaging_product": "whatsapp",
          "to": "={{ $json.phone.replace('+', '') }}",
          "type": "template",
          "template": {
            "name": "={{ $json.template_name }}",
            "language": {
              "code": "={{ $json.template_language }}"
            }
          }
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "send-whatsapp-message",
      "name": "Send WhatsApp Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all();\nconst successful = results.filter(r => r.json.messages?.length > 0);\nconst failed = results.filter(r => !r.json.messages?.length);\n\nreturn [{\n  json: {\n    total: results.length,\n    successful: successful.length,\n    failed: failed.length,\n    status: 'completed'\n  }\n}];"
      },
      "id": "aggregate-results",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Prepare Contacts", "type": "main", "index": 0 }]]
    },
    "Prepare Contacts": {
      "main": [[{ "node": "Send WhatsApp Message", "type": "main", "index": 0 }]]
    },
    "Send WhatsApp Message": {
      "main": [[{ "node": "Aggregate Results", "type": "main", "index": 0 }]]
    },
    "Aggregate Results": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [{ "name": "whatsapp-crm" }],
  "triggerCount": 1,
  "updatedAt": "2026-01-01T00:00:00.000Z",
  "versionId": "1"
}
